<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>Login</h1>
            <form action="/auth/login" method="post">
                <label for="fname">Username:</label>
                <input type="text" id="username" name="username"><br><br>
                <label for="fname">Password:</label>
                <input type="text" id="password" name="password"><br><br>
                <input type="submit" value="Delete">
              </form>
        </div>
    </div>

</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>